{% extends "bootstrap/base.html" %}
{% block title %} UFC Fighter Viz {% endblock title %}

{% block head %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.dom.js"></script>
<script src={{ url_for('send_static', path='sketch.js') }}></script>
{% endblock head %}

{% block content %}
<div class="container">
  
    <input id="textInput"/>
  <button id="submitButton"></button>
  <!-- div element that will hold the canvas -->
  <div id="canvasHolder" align="center">
   
  </div>
</div>
{% endblock content %}